/* Font */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", Helvetica, Arial, sans-serif;
}

/* Root */
html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

/* Colors */
:root {
  --color-pblue: #27919E;
  --color-sblue: #1D6D77;
  --color-grey: #E7E7E7;
  --color-black: #000000;
  --color-white: #FFFFFF;
}

header {
  background-color: var(--color-white);
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='244' height='244' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%2327919E' stroke-width='1'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%231D6D77'%3E%3Ccircle cx='769' cy='229' r='6'/%3E%3Ccircle cx='539' cy='269' r='6'/%3E%3Ccircle cx='603' cy='493' r='6'/%3E%3Ccircle cx='731' cy='737' r='6'/%3E%3Ccircle cx='520' cy='660' r='6'/%3E%3Ccircle cx='309' cy='538' r='6'/%3E%3Ccircle cx='295' cy='764' r='6'/%3E%3Ccircle cx='40' cy='599' r='6'/%3E%3Ccircle cx='102' cy='382' r='6'/%3E%3Ccircle cx='127' cy='80' r='6'/%3E%3Ccircle cx='370' cy='105' r='6'/%3E%3Ccircle cx='578' cy='42' r='6'/%3E%3Ccircle cx='237' cy='261' r='6'/%3E%3Ccircle cx='390' cy='382' r='6'/%3E%3C/g%3E%3C/svg%3E");
  width: 100vw;
  height: 6rem;
  position: sticky;
  top: 0;
  border-bottom: solid 2px var(--color-pblue);
  z-index: 9999;
}
@media screen and (min-width: 750px) {
  header {
    display: flex;
    height: 8rem;
    border-bottom: solid 4px var(--color-pblue);
  }
}
@media screen and (min-width: 1320px) {
  header {
    height: 10rem;
  }
}
header .header-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  margin: 1rem;
}
header .header-container .logo-header-mobile {
  width: 5.5rem;
  background-color: white;
}
@media screen and (min-width: 750px) {
  header .header-container .logo-header-mobile {
    display: none;
  }
}
header .header-container .logo-header {
  display: none;
  width: 15.5rem;
  background-color: white;
}
@media screen and (min-width: 750px) {
  header .header-container .logo-header {
    display: flex;
  }
}
@media screen and (min-width: 1320px) {
  header .header-container .logo-header {
    width: 20rem;
    margin-left: 2rem;
    transition: ease all 0.4s;
  }
  header .header-container .logo-header:hover {
    transform: scale(1.15);
  }
}
header .header-container .menu-mobile {
  width: 4rem;
}
@media screen and (min-width: 750px) {
  header .header-container .menu-mobile {
    display: none;
  }
}
header .header-container .nav-bar {
  display: none;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  right: 0;
  background-color: var(--color-grey);
  list-style: none;
  gap: 5rem;
  width: 100vw;
  height: 100vh;
  border-bottom: 3px solid var(--color-pblue);
  border-top: 3px solid var(--color-pblue);
  z-index: 9999;
}
@media screen and (min-width: 750px) {
  header .header-container .nav-bar {
    display: flex;
    flex-flow: row nowrap;
    height: 8rem;
    width: 60rem;
    border: 0;
    background-color: transparent;
  }
}
@media screen and (min-width: 1320px) {
  header .header-container .nav-bar {
    justify-content: space-around;
    height: 10rem;
    width: 80rem;
    top: 50%;
    left: 70%;
    transform: translate(-50%, -50%);
  }
}
header .header-container .nav-bar .nav-var-link-container .nav-var-link {
  text-decoration: none;
  color: var(--color-pblue);
  font-size: 3rem;
  font-weight: 600;
}
@media screen and (min-width: 750px) {
  header .header-container .nav-bar .nav-var-link-container .nav-var-link {
    font-size: 2rem;
  }
}
@media screen and (min-width: 1320px) {
  header .header-container .nav-bar .nav-var-link-container .nav-var-link {
    position: relative;
    display: block;
    text-transform: uppercase;
    padding: 10px 20px;
    text-decoration: none;
    color: var(--color-pblue);
    font-size: 2.5rem;
    font-weight: 600;
    transition: ease all 0.5s;
    z-index: 1;
  }
  header .header-container .nav-bar .nav-var-link-container .nav-var-link:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-top: 2px solid var(--color-sblue);
    border-bottom: 2px solid var(--color-sblue);
    transform: scaleY(2);
    opacity: 0;
    transition: 0.3s;
  }
  header .header-container .nav-bar .nav-var-link-container .nav-var-link:after {
    content: "";
    position: absolute;
    top: 2px;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--color-sblue);
    transform: scale(0);
    opacity: 0;
    transition: ease all 0.3s;
    z-index: -1;
  }
  header .header-container .nav-bar .nav-var-link-container .nav-var-link:hover {
    color: var(--color-white);
  }
  header .header-container .nav-bar .nav-var-link-container .nav-var-link:hover:before {
    transform: scaleY(1);
    opacity: 1;
  }
  header .header-container .nav-bar .nav-var-link-container .nav-var-link:hover:after {
    transform: scaleY(1);
    opacity: 1;
  }
}
header .header-container .nav-bar .close-menu {
  width: 5rem;
}
@media screen and (min-width: 750px) {
  header .header-container .nav-bar .close-menu {
    display: none;
  }
}
header .header-container .open-navbar {
  display: flex;
}

section {
  width: 100vw;
  background-color: var(--color-white);
}
@media screen and (min-width: 1320px) {
  section .parallax-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    overflow: hidden;
    position: relative;
  }
}
section .parallax-container .banner-image {
  width: 100vw;
}
@media screen and (min-width: 1320px) {
  section .parallax-container .banner-image {
    position: absolute;
    height: 90vh;
  }
}
section .scroll-arrow-container {
  display: none;
}
@media screen and (min-width: 1320px) {
  section .scroll-arrow-container {
    display: flex;
    margin-top: -17rem;
    position: absolute;
    right: 48%;
  }
  section .scroll-arrow-container .scroll-arrow {
    width: 8rem;
    background-color: rgba(255, 255, 255, 0.317);
    border-radius: 10rem;
  }
}
section .index-h2 {
  text-align: center;
  margin-inline: 2rem;
  margin-block: 3rem;
  font-size: 2.2rem;
  text-decoration: underline;
}
@media screen and (min-width: 750px) {
  section .index-h2 {
    font-size: 4.2rem;
  }
}
@media screen and (min-width: 1320px) {
  section .index-h2 {
    margin-block: 6rem;
    font-size: 5rem;
  }
}
section .index-p-container {
  margin-block: 3rem;
  margin-inline: 5rem;
}
@media screen and (min-width: 750px) {
  section .index-p-container {
    margin-block: 6rem;
    margin-inline: 10rem;
  }
}
@media screen and (min-width: 1320px) {
  section .index-p-container {
    margin-block: 8rem;
    margin-inline: 40rem;
  }
}
section .index-p-container .p-index {
  margin-block: 3rem;
  font-size: 1.5rem;
  text-align: justify;
}
@media screen and (min-width: 750px) {
  section .index-p-container .p-index {
    margin-block: 4rem;
    font-size: 2.5rem;
  }
}
@media screen and (min-width: 1320px) {
  section .index-p-container .p-index {
    margin-block: 8rem;
    font-size: 2.7rem;
  }
}
section .b-h2, section .b-h3 {
  text-align: center;
  font-size: 2.5rem;
  margin-block: 2.6rem;
  margin-inline: 1.6rem;
  text-decoration: underline;
}
@media screen and (min-width: 750px) {
  section .b-h2, section .b-h3 {
    font-size: 4.2rem;
  }
}
@media screen and (min-width: 1320px) {
  section .b-h2, section .b-h3 {
    margin-block: 5rem;
    font-size: 4.5rem;
  }
}
section .b-p {
  text-align: justify;
  font-size: 1.7rem;
  margin-block: 3rem;
  margin-inline: 5rem;
}
@media screen and (min-width: 750px) {
  section .b-p {
    font-size: 2rem;
    margin-block: 5rem;
    margin-inline: 8rem;
  }
}
@media screen and (min-width: 1320px) {
  section .b-p {
    margin-inline: 40rem;
    margin-block: 8rem;
    font-size: 2.5rem;
  }
}
section .b-images-container {
  margin-block: 3rem;
}
@media screen and (min-width: 1320px) {
  section .b-images-container {
    display: flex;
    overflow: hidden;
    object-fit: cover;
  }
}
section .b-images-container .b-image {
  width: 100vw;
}
@media screen and (min-width: 1320px) {
  section .b-images-container .b-image {
    width: 50vw;
    filter: grayscale(1);
    transition: all ease 1s;
    height: 100%;
  }
  section .b-images-container .b-image:hover {
    filter: grayscale(0);
    transform: scale(1.2);
  }
}
section .ceramic-h2, section .ceramic-h3 {
  text-align: center;
  font-size: 2.5rem;
  margin-block: 2.6rem;
  margin-inline: 1.6rem;
  text-decoration: underline;
}
@media screen and (min-width: 750px) {
  section .ceramic-h2, section .ceramic-h3 {
    font-size: 4.2rem;
  }
}
section .ceramic-logo-container {
  text-align: center;
  margin: 3rem;
}
@media screen and (min-width: 750px) {
  section .ceramic-logo-container {
    margin: 6rem;
  }
}
section .ceramic-logo-container .ceramic-logo {
  width: 70vw;
}
@media screen and (min-width: 1320px) {
  section .ceramic-logo-container .ceramic-logo {
    width: 20vw;
  }
}
section .ceramic-p {
  margin-block: 2rem;
  margin-inline: 4rem;
  text-align: justify;
  font-size: 1.5rem;
}
@media screen and (min-width: 750px) {
  section .ceramic-p {
    margin-block: 5rem;
    margin-inline: 8rem;
    font-size: 2.5rem;
  }
}
@media screen and (min-width: 1320px) {
  section .ceramic-p {
    margin-inline: 40rem;
  }
}
section .ceramic-images-container {
  margin-block: 3rem;
}
@media screen and (min-width: 1320px) {
  section .ceramic-images-container {
    display: flex;
    flex-flow: row wrap;
    width: 100vw;
  }
}
section .ceramic-images-container .ceramic-image-h {
  width: 100vw;
}
@media screen and (min-width: 1320px) {
  section .ceramic-images-container .ceramic-image-h {
    width: 50vw;
    object-fit: cover;
    height: 60rem;
    filter: grayscale(1);
    transition: all ease 0.8s;
  }
  section .ceramic-images-container .ceramic-image-h:hover {
    filter: grayscale(0);
  }
}
section .ceramic-images-container .ceramic-image-v {
  width: 100vw;
}
@media screen and (min-width: 1320px) {
  section .ceramic-images-container .ceramic-image-v {
    margin-top: -0.5rem;
    width: 25vw;
    object-fit: cover;
    height: 70rem;
    filter: grayscale(1);
    transition: all ease 0.8s;
  }
  section .ceramic-images-container .ceramic-image-v:hover {
    filter: grayscale(0);
  }
}
section .radio-h2 {
  text-align: center;
  font-size: 2.5rem;
  margin-block: 2.6rem;
  margin-inline: 1.6rem;
  text-decoration: underline;
}
@media screen and (min-width: 750px) {
  section .radio-h2 {
    margin-block: 5rem;
    font-size: 4.2rem;
  }
}
section .radio-p {
  margin-block: 2rem;
  margin-inline: 5rem;
  text-align: justify;
  font-size: 1.5rem;
}
@media screen and (min-width: 750px) {
  section .radio-p {
    margin-block: 4rem;
    margin-inline: 8rem;
    font-size: 2.5rem;
  }
}
@media screen and (min-width: 1320px) {
  section .radio-p {
    margin-inline: 40rem;
    margin-block: 8rem;
  }
}
section .radio-fb-container {
  display: flex;
  justify-content: space-around;
  margin-inline: 3rem;
  align-items: center;
  text-align: center;
}
@media screen and (min-width: 750px) {
  section .radio-fb-container {
    margin-inline: 6rem;
  }
}
@media screen and (min-width: 1320px) {
  section .radio-fb-container {
    margin-inline: 40rem;
    margin-bottom: 5rem;
  }
}
section .radio-fb-container .radio-fb {
  margin-block: 3rem;
}
@media screen and (min-width: 750px) {
  section .radio-fb-container .radio-fb {
    margin-block: 5rem;
  }
}
@media screen and (min-width: 1320px) {
  section .radio-fb-container .radio-fb {
    transition: ease all 0.5s;
  }
  section .radio-fb-container .radio-fb:hover {
    transform: scale(1.2);
  }
}
section .radio-fb-container .radio-fb .radio-fb-link {
  text-decoration: none;
  color: var(--color-pblue);
}
section .radio-fb-container .radio-fb .radio-fb-link .radio-fb-icon {
  width: 6rem;
}
@media screen and (min-width: 750px) {
  section .radio-fb-container .radio-fb .radio-fb-link .radio-fb-icon {
    width: 12rem;
  }
}
section .radio-fb-container .radio-fb .radio-fb-link .radio-fb-text {
  font-size: 1.5rem;
  font-weight: 500;
  text-decoration: underline;
}
@media screen and (min-width: 750px) {
  section .radio-fb-container .radio-fb .radio-fb-link .radio-fb-text {
    font-size: 3rem;
  }
}
section .radio-fb-container .radio-fb .radio-fb-link:active, section .radio-fb-container .radio-fb .radio-fb-link:focus, section .radio-fb-container .radio-fb .radio-fb-link:visited {
  color: var(--color-pblue);
}
section .radio-images-container {
  margin-bottom: 3rem;
}
@media screen and (min-width: 1320px) {
  section .radio-images-container {
    display: flex;
    flex-flow: row wrap;
  }
}
section .radio-images-container .radio-image {
  width: 100vw;
}
@media screen and (min-width: 1320px) {
  section .radio-images-container .radio-image {
    width: 50vw;
    height: 70rem;
    margin-top: -0.5rem;
    filter: grayscale(1);
    transition: ease all 0.8s;
  }
  section .radio-images-container .radio-image:hover {
    filter: grayscale(0);
  }
}
section .stream-container {
  margin: auto;
  width: 90vw;
  padding-top: 2rem;
}
section .stream-container .stream {
  background-color: var(--color-grey);
  border-radius: 5rem;
}
section .contact-container {
  margin-block: 2.5rem;
}
section .contact-container .contact-h2 {
  text-align: center;
  font-size: 2.5rem;
  text-decoration: underline;
}
@media screen and (min-width: 750px) {
  section .contact-container .contact-h2 {
    font-size: 4.5rem;
    margin-top: 7rem;
  }
}
section .contact-container .contact-email {
  color: var(--color-pblue);
  text-align: center;
  font-size: 1.3rem;
}
@media screen and (min-width: 750px) {
  section .contact-container .contact-email {
    font-size: 2.2rem;
    margin-block: 3rem;
  }
}
section .contact-form {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  width: 80vw;
  margin: auto;
  gap: 2rem;
}
section .contact-form input:invalid, section .contact-form textarea:invalid {
  border-color: red;
}
@media screen and (min-width: 750px) {
  section .contact-form {
    font-size: 2.2rem;
    gap: 6rem;
  }
}
section .contact-form .form-name, section .contact-form .form-email, section .contact-form .form-phone, section .contact-form .form-message {
  width: 100%;
  text-align: center;
  border: 0;
  border-bottom: 2px solid var(--color-pblue);
  color: var(--color-pblue);
  border-radius: 1rem;
  margin-block: 2rem;
  font-size: 1.6rem;
  font-weight: 600;
  resize: vertical;
}
section .contact-form .form-name:active, section .contact-form .form-name:focus, section .contact-form .form-email:active, section .contact-form .form-email:focus, section .contact-form .form-phone:active, section .contact-form .form-phone:focus, section .contact-form .form-message:active, section .contact-form .form-message:focus {
  outline: none;
  border-bottom: 4px solid var(--color-pblue);
}
section .contact-form .form-name::placeholder, section .contact-form .form-email::placeholder, section .contact-form .form-phone::placeholder, section .contact-form .form-message::placeholder {
  color: var(--color-sblue);
  font-size: 1.2rem;
  font-weight: 400;
}
@media screen and (min-width: 750px) {
  section .contact-form .form-name::placeholder, section .contact-form .form-email::placeholder, section .contact-form .form-phone::placeholder, section .contact-form .form-message::placeholder {
    font-size: 2.2rem;
  }
}
@media screen and (min-width: 750px) {
  section .contact-form .form-name, section .contact-form .form-email, section .contact-form .form-phone, section .contact-form .form-message {
    font-size: 3rem;
  }
  section .contact-form .form-name:active, section .contact-form .form-name:focus, section .contact-form .form-email:active, section .contact-form .form-email:focus, section .contact-form .form-phone:active, section .contact-form .form-phone:focus, section .contact-form .form-message:active, section .contact-form .form-message:focus {
    border-bottom: 6px solid var(--color-pblue);
  }
}
@media screen and (min-width: 1320px) {
  section .contact-form .form-name, section .contact-form .form-email, section .contact-form .form-phone, section .contact-form .form-message {
    width: 50%;
  }
}
section .contact-form .form-phone::-webkit-inner-spin-button {
  display: none;
}
section .contact-form .form-button {
  width: 35%;
  color: var(--color-white);
  background-color: var(--color-pblue);
  border-radius: 1rem;
  border: 0;
  font-size: 1.6rem;
  margin: 1.5rem;
  height: 3rem;
}
@media screen and (min-width: 750px) {
  section .contact-form .form-button {
    font-size: 3.5rem;
    height: 5rem;
  }
}
@media screen and (min-width: 1320px) {
  section .contact-form .form-button {
    height: 6rem;
    width: 12%;
    transition: ease all 0.5s;
    background-color: var(--color-white);
    color: var(--color-pblue);
    border: solid 2px var(--color-pblue);
  }
  section .contact-form .form-button:hover {
    background-color: var(--color-pblue);
    color: var(--color-white);
    transform: scale(0.9);
  }
}
section .contact-location-container {
  margin: 4rem;
}
@media screen and (min-width: 750px) {
  section .contact-location-container {
    margin-top: 6rem;
  }
}
section .contact-location-container .contact-first-text {
  color: var(--color-pblue);
  font-weight: 500;
  font-size: 2rem;
  margin-block: 1rem;
}
@media screen and (min-width: 750px) {
  section .contact-location-container .contact-first-text {
    font-size: 4rem;
  }
}
section .contact-location-container .contact-second-text {
  font-size: 1.5rem;
  margin-bottom: 3rem;
}
@media screen and (min-width: 750px) {
  section .contact-location-container .contact-second-text {
    font-size: 2.6rem;
    margin-bottom: 6rem;
  }
}
section .contact-map-container {
  width: 100vw;
  height: 30rem;
  margin-bottom: 3rem;
}
@media screen and (min-width: 750px) {
  section .contact-map-container {
    height: 60rem;
    margin-bottom: 6rem;
  }
}
@media screen and (min-width: 1320px) {
  section .contact-map-container {
    height: 70rem;
  }
}
section .contact-map-container .contact-map {
  filter: grayscale(1);
  width: 100%;
  transition: ease all 0.5s;
}
@media screen and (min-width: 1320px) {
  section .contact-map-container .contact-map:hover {
    filter: grayscale(0);
  }
}

footer {
  background-color: var(--color-grey);
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='244' height='244' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%2327919E' stroke-width='1'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%231D6D77'%3E%3Ccircle cx='769' cy='229' r='6'/%3E%3Ccircle cx='539' cy='269' r='6'/%3E%3Ccircle cx='603' cy='493' r='6'/%3E%3Ccircle cx='731' cy='737' r='6'/%3E%3Ccircle cx='520' cy='660' r='6'/%3E%3Ccircle cx='309' cy='538' r='6'/%3E%3Ccircle cx='295' cy='764' r='6'/%3E%3Ccircle cx='40' cy='599' r='6'/%3E%3Ccircle cx='102' cy='382' r='6'/%3E%3Ccircle cx='127' cy='80' r='6'/%3E%3Ccircle cx='370' cy='105' r='6'/%3E%3Ccircle cx='578' cy='42' r='6'/%3E%3Ccircle cx='237' cy='261' r='6'/%3E%3Ccircle cx='390' cy='382' r='6'/%3E%3C/g%3E%3C/svg%3E");
  width: 100vw;
  padding-top: 0.5rem;
  border-top: solid 2px var(--color-pblue);
}
footer .footer-links-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 1rem;
}
@media screen and (min-width: 750px) {
  footer .footer-links-container {
    padding-inline: 2rem;
  }
}
@media screen and (min-width: 1320px) {
  footer .footer-links-container {
    justify-content: space-around;
  }
}
footer .footer-links-container .footer-names-container {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--color-black);
}
@media screen and (min-width: 1320px) {
  footer .footer-links-container .footer-names-container {
    padding-inline: 1.1rem;
    border-radius: 2rem;
    transition: ease all 0.6s;
  }
  footer .footer-links-container .footer-names-container:hover {
    transform: scale(1.08);
    filter: invert(1);
    background-color: #d86e61;
  }
}
footer .footer-links-container .footer-names-container .footer-icon-container {
  text-align: center;
}
footer .footer-links-container .footer-names-container .footer-icon-container .footer-icon {
  width: 1.5rem;
}
@media screen and (min-width: 750px) {
  footer .footer-links-container .footer-names-container .footer-icon-container .footer-icon {
    width: 3rem;
  }
}
footer .footer-links-container .footer-names-container .footer-icon-container .footer-job-name {
  font-size: 0.6rem;
  margin-top: -0.5rem;
}
@media screen and (min-width: 750px) {
  footer .footer-links-container .footer-names-container .footer-icon-container .footer-job-name {
    font-size: 1rem;
  }
}
footer .footer-links-container .footer-names-container .footer-person-name {
  margin-inline: 1rem;
  font-size: 1.1rem;
}
@media screen and (min-width: 750px) {
  footer .footer-links-container .footer-names-container .footer-person-name {
    margin-block: 1rem;
    font-size: 2rem;
  }
}
footer .footer-links-container .footer-names-container:active, footer .footer-links-container .footer-names-container:focus, footer .footer-links-container .footer-names-container:visited {
  color: var(--color-black);
}
footer .footer-copyright-container {
  text-align: center;
  font-size: 0.8rem;
  margin-top: 0.5rem;
}
@media screen and (min-width: 750px) {
  footer .footer-copyright-container {
    font-size: 1.5rem;
  }
}

/*# sourceMappingURL=style.css.map */
