@import '../base/mixin';

footer {
    width: 100vw;
    padding-block: 1rem;
    background-color: var(--color-grey);
    border-top: solid 2px var(--color-pblue);

    .footer-links-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-inline: 1rem;

        @include responsive(md) {
            padding-block: 1rem;
            padding-inline: 3rem;
        }

        @include responsive(lg) {
            justify-content: space-around;
        }

        .footer-names-container {
            display: flex;
            align-items: center;
            text-decoration: none;
            color: var(--color-black);


            @include responsive(lg) {
                padding-block: 0.6rem;
                padding-inline: 1.5rem;
                border-radius: 3rem;
                transition: ease all 0.7s;

                &:hover {
                    transform: scale(1.08);
                    filter: invert(1);
                    background-color: #d86e61;
                }
            }

            .footer-icon-container {
                text-align: center;

                .footer-icon {
                    width: 2rem;

                    @include responsive(md) {
                        width: 3.2rem;
                    }
                }
                
                .footer-job-name {
                    font-size: 0.7rem;

                    @include responsive(md) {
                        font-size: 1.2rem;
                    }
                }
            }
            
            .footer-person-name {
                margin-inline: 1rem;
                font-size: 1.5rem;

                @include responsive(md) {
                    margin-inline: 2rem;
                    font-size: 2.5rem;
                }
            }

            &:active, &:focus, &:visited {
                color: var(--color-black);
            }
        }
    }

    .footer-copyright-container {
        text-align: center;
        font-size: 0.8rem;
        margin-top: 1rem;

        @include responsive(md) {
            font-size: 1.5rem;
        }
    }
}