@import '../base/mixin';

// General
section {
    width: 100vw;
    background-color: var(--color-white);
}

// Index
.banner-image {
    width: 100vw;
}

.index-h2 {
    text-align: center;
    margin-inline: 2rem;
    margin-block: 3rem;
    font-size: 2.2rem;
    text-decoration: underline;
}

.index-p-container {
    margin: 2rem;
    text-align: center;
}

.p-index {
    margin-block: 2rem;
    font-size: 1.5rem;
}

// Biblioteca
.b-h2, .b-h3 {
    text-align: center;
    font-size: 2.5rem;
    margin-block: 2.6rem;
    margin-inline: 1.6rem;
    text-decoration: underline;
}

.b-p {
    text-align: center;
    font-size: 1.7rem;
    margin-block: 3rem;
    margin-inline: 1.5rem;
}

.b-images-container {
    margin-block: 3rem;
}

.b-image {
    width: 100vw;
}

// Ceramica
.ceramic-h2, .ceramic-h3 {
    text-align: center;
    font-size: 2.5rem;
    margin-block: 2.6rem;
    margin-inline: 1.6rem;
    text-decoration: underline;
}

.ceramic-logo-container {
    text-align: center;
    margin: 2rem;
}

.ceramic-logo {
    width: 70vw;
}

.ceramic-p {
    margin: 2rem;
    text-align: center;
    font-size: 1.5rem;
}

.ceramic-images-container {
    margin-block: 3rem;
}

.ceramic-image {
    width: 100vw;
}

// Radio
.radio-h2 {
    text-align: center;
    font-size: 2.5rem;
    margin-block: 2.6rem;
    margin-inline: 1.6rem;
    text-decoration: underline;
}

.radio-p {
    margin: 2rem;
    text-align: center;
    font-size: 1.5rem;
}

.radio-fb-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

.radio-fb {
    margin: 3rem;
}

.radio-fb-link {
    text-decoration: none;
    color: var(--color-pblue);
}

.radio-fb-link:active, .radio-fb-link:focus, .radio-fb-link:visited {
    color: var(--color-pblue);
}

.radio-fb-icon {
    width: 6rem;
}

.radio-fb-text {
    font-size: 1.5rem;
    font-weight: 500;
    text-decoration: underline;
}

.radio-images-container {
    margin-bottom: 3rem;
}

.radio-image {
    width: 100vw;
}

// Contacto
.contact-container {
    margin-block: 2.5rem;
}

.contact-h2 {
    text-align: center;
    font-size: 2.5rem;
    text-decoration: underline;
}

.contact-email {
    color: var(--color-pblue);
    text-align: center;
    font-size: 1.3rem;
}

.contact-form {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    width: 80vw;
    margin: auto;
    margin-block: 3rem;
}

.form-name, .form-email, .form-phone, .form-message {
    width: 100%;
    text-align: center;
    border: 0;
    border-bottom: 2px solid var(--color-pblue);
    color: var(--color-sblue);
    border-radius: 1rem;
    margin-block: 2rem;
    font-size: 1.6rem;
}

.form-name::placeholder, .form-email::placeholder, .form-phone::placeholder, .form-message::placeholder {
    color: var(--color-sblue);
    font-size: 1.2rem;
}

.form-name:focus, .form-name:active, .form-email:focus, .form-email:active, .form-phone:focus, .form-phone:active, .form-message:active, .form-message:focus {
    outline: none;
    border-bottom: 4px solid var(--color-pblue);
}

.form-phone::-webkit-inner-spin-button {
    display: none;
}

.form-button {
    width: 35%;
    color: var(--color-white);
    background-color: var(--color-pblue);
    border-radius: 1rem;
    border: 0;
    font-size: 1.6rem;
    margin: 1.5rem;
    height: 3rem;
}

.contact-location-container {
    margin-inline: 4rem;
}

.contact-first-text {
    color: var(--color-pblue);
    font-weight: 500;
    font-size: 2rem;
    margin-bottom: 1rem;
}

.contact-second-text {
    font-size: 1.5rem;
    margin-bottom: 3rem;
}

.contact-map-container {
    width: 100vw;
    height: 30rem;
    margin-bottom: 3rem;
}

.contact-map {
    filter: grayscale(1);
    width: 100%;
}